body{
    background-image: url(image.jpeg);
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.canvas {
    border: 2px solid black;
}

.top,
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
.block p{
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
}
.block,
input,
select,
button {
    width: 80%;
}

.column {
    display: flex;
    flex-direction: column;
}

.bottom button {
    margin: 10px;
    font-size: 20px;
}

.top .block {
    margin: 10px;
}

.block p {
    margin: 10px auto;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}
input:hover{
    border: 2px solid black;
}
select:hover{
    border: 2px solid black;
}
